{{#loginUsername}}
Welcome, {{loginUsername}}!<br>
<form action="create-message" method="post">
    <input type="hidden" name="replyId" value="{{replyId}}"/>
    <input type="text" name ="text" placeholder="Write A Message" size="50"/>
    <button type="submit">Submit Message</button>
</form>
{{/loginUsername}}

{{^loginUsername}}
<form action = "login" method="post">
    <input type="text" placeholder="User Name" name="username"/>
    <input type="password" placeholder="Password" name="password"/>
    <button type="submit">Log in or Create Account</button>
</form>
{{/loginUsername}}

